config {
    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile "tests/nextflow.config"
    ignore 'modules/nf-core/**/*', 'subworkflows/nf-core/**/*'
    profile "test"
    triggers 'nextflow.config', 'nf-test.config', 'conf/test.config', 'tests/nextflow.config', 'tests/.nftignore'
    plugins {
        load "nft-utils@0.0.3"
        // Add plugins based on your pipeline needs:
        // load "nft-bam@0.6.0"    // For BAM file testing
        // load "nft-vcf@1.0.7"    // For VCF file testing
        // load "nft-fastq@0.0.1"  // For FASTQ file testing
        load "nft-fasta@1.0.0"
    }
}
