process {

    publishDir = [
        path: { "${params.outdir}/intermediates/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        ext.args = '--overrepresentation_analysis --overrepresentation_sampling 10 --low_complexity_filter --correction --dedup'
        publishDir = {"${params.outdir}/fastp"}
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BLAST_BLASTN' {
        ext.args = '-outfmt 6 -evalue 0.0001 -qcov_hsp_perc 80'
    }

    withName: 'GNU_SORT' {
        ext.args = '-k12,12nr'
        ext.args2 = '-u -k1,1'
        ext.prefix = {"${meta.id}.probes_filtered"}
    }

    withName: 'SPADES' {
        scratch = true
        ext.args = '--meta'
        // errorStrategy = { task.exitStatus == 2 ? 'ignore' : 'finish' }
        publishDir = {"${params.outdir}/spades"}
    }

    withName: 'VSEARCH_CLUSTER' {
        ext.args = '--id 0.98 --query_cov 0.98 --strand both'
        ext.args2 = '--cluster_fast'
        ext.args3 = '--centroids'
    }

    withName: 'BLAST_MAKEBLASTDB2' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BLAST_TBLASTX' {
        ext.args = '-outfmt "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qframe" -evalue 0.0001 -qcov_hsp_perc 0.50'
    }

    withName: 'BITSCOREFILTER' {
        ext.prefix = {"${meta.id}.filtered"}
    }

    withName: 'BEDTOOLS_GETFASTA' {
        ext.args = '-name'
    }

    withName: 'BLAST_TBLASTX2' {
        ext.args = '-outfmt 6 -evalue 0.01'
        ext.prefix = {"${meta.id}.ortho"}
    }
    withName: 'GNU_SORT2' {
        ext.args = '-k12,12nr'
        ext.args2 = '-t ":" -u -k1,1'
        ext.prefix = {"${meta.id}.ortho_filtered"}
    }

    withName: 'GETORTHOLOGS_PROBE' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.probe_ortho"}
    }

    withName: 'GETORTHOLOGS_FULL' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.full_ortho"}
    }

    withName: 'CLEANHEADERS' {
        publishDir = {"${params.outdir}/results"}
    }

    withName: 'GATHERSTATS' {
        publishDir = {"${params.outdir}/results"}
    }

}

/* unused

withName: 'FASTQTOOLS_SORT' {
    ext.prefix = {"${meta.id}.sorted"}
}

withName: 'QUAST' {
    ext.args = '-m 0'
}

withName: 'CLEANHEADERS_PROBE' {
    publishDir = [
        path: { "${params.outdir}/probe_orthologs" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

withName: 'CLEANHEADERS_FULL' {
    publishDir = [
        path: { "${params.outdir}/full_orthologs" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

*/
