/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/intermediates/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTQTOOLS_SORT' {
        ext.prefix = {"${meta.id}.sorted"}
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BLAST_BLASTN' {
        ext.args = '-outfmt 6 -evalue 0.0001 -qcov_hsp_perc 80'
    }

    withName: 'GNU_SORT' {
        ext.args = '-k12,12nr'
        ext.prefix = {"${meta.id}.probes_sorted"}
    }

    withName: 'GNU_SORT2' {
        ext.args = '-u -k1,1'
        ext.prefix = {"${meta.id}.probes_filtered"}
    }

    withName: 'SPADES' {
        scratch = true
        ext.args = '--careful'
        errorStrategy = { task.exitStatus == 2 ? 'ignore' : 'finish' }
    }

    withName: 'VSEARCH_CLUSTER' {
        ext.args = '--id 0.98 --query_cov 0.98 --strand both'
        ext.args2 = '--cluster_fast'
        ext.args3 = '--centroids'
    }

    withName: 'BLAST_MAKEBLASTDB2' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BLAST_TBLASTX' {
        ext.args = '-outfmt "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qframe" -evalue 0.0001 -qcov_hsp_perc 0.50'
    }

    withName: 'BITSCOREFILTER' {
        ext.prefix = {"${meta.id}.filtered"}
    }

    withName: 'BEDTOOLS_GETFASTA' {
        ext.args = '-name'
    }

    withName: 'BLAST_TBLASTX2' {
        ext.args = '-outfmt 6 -evalue 0.01'
        ext.prefix = {"${meta.id}.ortho"}
    }
    withName: 'GNU_SORT3' {
        ext.args = '-k12,12nr'
        ext.prefix = {"${meta.id}.ortho_sorted"}
    }

    withName: 'GNU_SORT4' {
        ext.args = '-t ":" -u -k1,1'
        ext.prefix = {"${meta.id}.ortho_filtered"}
    }

    withName: 'ORTHOLOGS_PROBEGETFASTA' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.probe_ortho"}
    }

    withName: 'ORTHOLOGS_FULLGETFASTA' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.full_ortho"}
    }

    withName: 'CLEANHEADERS_PROBE' {
        publishDir = [
            path: { "${params.outdir}/probe_orthologs" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CLEANHEADERS_FULL' {
        publishDir = [
            path: { "${params.outdir}/full_orthologs" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
