process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        // disable length and quality filtering since SPAdes takes care of that in error correction
        ext.args = '-L -Q'
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl'
        ext.prefix = 'reference'
    }

    withName: 'BLAST_BLASTNPROBE2REF' {
        ext.args = '-task dc-megablast -outfmt 6 -evalue 1e-12'
        ext.prefix = {"${meta.id}.probe2reference"}
    }

    withName: 'BLAST_BLASTNPROBE2SCAFFOLD' {
        ext.args = '-task dc-megablast -outfmt "6 std qframe" -evalue 1e-12'
        ext.prefix = {"${meta.id}.probe2scaffold"}
    }

    withName: 'BLAST_BLASTNSCAFFOLD2REF' {
        ext.args = '-task dc-megablast -outfmt 6 -evalue 1e-12'
        ext.prefix = {"${meta.id}.scaffold2reference"}
    }

    withName: 'PARALOGFILTER' {
        ext.prefix = {"${meta.id}.probes_filtered"}
    }

    withName: 'SPADES' {
        scratch = true
        ext.args = '--careful --sc --cov-cutoff auto'
    }

    withName: 'BLAST_MAKEBLASTDB2' {
        ext.args = '-dbtype nucl'
    }

    withName: 'BITSCOREFILTER' {
        ext.prefix = {"${meta.id}.filtered"}
    }

    withName: 'BEDTOOLS_GETFASTA' {
        ext.args = '-name'
    }

    withName: 'GETORTHOLOGS_PROBE' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.probe_ortho"}
    }

    withName: 'GETORTHOLOGS_FULL' {
        ext.args = '-name'
        ext.prefix = {"${meta.id}.full_ortho"}
    }

   withName: 'MINIMAP2_ALIGN' {
        ext.args = '-x sr'
    } 

}