workDir = "${projectDir}/test-work"

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    outdir = "${projectDir}/test-output/test"
    probes = "${projectDir}/assets/test-data/L160__tanypteryx_R_probe.fasta"
    reference = "${projectDir}/assets/test-data/L160__tanypteryx_R_reference.fasta"
    input  = "${projectDir}/assets/test-data/samplesheet-local.csv"
}

