workDir = "${projectDir}/test-work"

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'
    outdir = "${projectDir}/test-output/test_full"
    input = "${projectDir}/assets/test-data/full/samplesheet.csv"
    reference = "${projectDir}/assets/test-data/full/tanypteryx.fasta"
    probes = "${projectDir}/assets/test-data/full/R1_tanypteryx1306_20kbp_R.fasta"
}
