// Use as follows: nextflow run nf-core/targetassembly -profile test,<docker/singularity> --outdir <OUTDIR>

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '30.m'
    ]
}

executor {
    queueSize = 1
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    outdir = "${projectDir}/test-output"
    input  = "https://raw.githubusercontent.com/paytoncarter14/containers/refs/heads/main/samplesheet.csv"
    probes = "https://raw.githubusercontent.com/paytoncarter14/containers/refs/heads/main/L160__tanypteryx_R_probe.fasta"
    reference = "https://raw.githubusercontent.com/paytoncarter14/containers/refs/heads/main/L160__tanypteryx_R_reference.fasta"
}

