/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/locusassembly -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input = "https://raw.githubusercontent.com/paytoncarter14/containers/refs/heads/main/samplesheet-full.csv"
    reference = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/028/673/005/GCA_028673005.1_amnh_byu_tan/GCA_028673005.1_amnh_byu_tan_genomic.fna.gz"
    probes = "https://raw.githubusercontent.com/paytoncarter14/containers/refs/heads/main/R1_tanypteryx1306_20kbp_R.fasta"
}
